.container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(4, 1fr);
	font-family: 'AvenirNextLTPro-Regular', Helvetica, Arial, sans-serif;
}

.header {
	grid-row: 2/3;
	grid-column: 2/5;
}

.button {
	grid-row: 3/4;
	grid-column: 2/5;
	width: 17em;
	justify-self: center;
	align-self: center;
}


.mainBtn {
	text-align: center;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  padding: 1em;
  font-size: 1em;
  cursor: pointer;
  margin-top: 4em;
  border-radius: 0.5em;
}

.background {
  background: no-repeat center center fixed;
/*  background-image: linear-gradient(rgba(171,0,45, 0.7), rgba(171,0,45, 0.7)),*/
  background-image: linear-gradient(rgba(0,0,20, 0.8), rgba(0,0,20, 0.8)),
  url('../images/bike.jpg');
  background-size: cover;
}

.buttonLink {
	text-decoration: none;
}