.buttonComponent {
	text-align: center;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  font-weight: bold;
  padding: 1em;
  font-size: 1em;
  cursor: pointer;
  border-radius: 0.5em;
  width: auto;
  margin-top: 5em;
}

.buttonComponent:hover {
  background-color: white;
  color: #252525;
}